{% extends '::base.html.twig' %}

{% block cuerpo -%}
    <h1>SUPERHEROE creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('superheroe') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
